name: Check

on:
  push:
    branches:
      - master
      - staging
      - trying
  pull_request:

jobs:
  pack:
    name: Pack
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.0
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com
          scope: "@actions-rs"
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH}}
      - run: npm run build
      - run: npm run pack
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: git diff --exit-code
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master' && failure()
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git commit -am "Create dist package"
          git push

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.0
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com
          scope: "@actions-rs"
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH}}
      - run: npm run build
      - run: npm test

  format:
    name: Format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.0
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com
          scope: "@actions-rs"
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH}}
      - run: npm run format-check

  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3.1.0
        with:
          node-version: "16.x"
          registry-url: https://npm.pkg.github.com
          scope: "@actions-rs"
      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH}}
      - run: npm run lint
